<section>
  <div class="container">
    <div class="row">
    <h2 class="column-header">
      {{title}}
    </h2>
    <div class="ten offset-by-one columns recipe-text">
      <div class="row">
        <img class="recipe-img" src="{{images.[0]}}"/>
      </div>
      <div class="row">
        {{{renderIngredients ingredients}}}
      </div>
      <div class="row">
        <p>
          {{steps}}
        </p>
      </div>
      <div class="row">
        <img src="{{images.[1]}}"/>
        <img src="{{images.[2]}}"/>
      </div>
    </div>
  </div>
  </div>
</section>
